mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    padding-top: 60px;
  }

  mat-form-field{
      width: 80%;
     
  }

  .fname{
      padding-top: 40px;
  }
  .space{
      padding-top: 40px;
  }

  .button{
      width: 50%;
  }

  p{
      color: red;
      font-weight: bold;
  }